section#main-page-container {
  & .projects-container {
    margin-bottom: 50px;
  }
}

.contact-items p {
  margin: 0;
}

.about-container {
  #photo-container {
    margin-top: 20px;
    img {
      border-radius: 5px;
      width: 400px;
    }
  }

  #resume-container {
    margin: 20px 0 20px;
    h3 {
      color: #0d6efd;
      width: max-content;
      cursor: pointer;
    }
  }
}

.project-items {
  margin: 30px 0;
}

.project-item {
  padding: 10px 0;
}

a {
  text-decoration: none;
}

div.social-links {
  display: flex;
  gap: 15px;
  margin-top: 6px;
}

div.social-links img {
  width: 25px;
  margin-right: 3px;
}

.project-links {
  padding: 3px 0 6px;
  display: flex;
}

.project-links p {
  padding: 0 10px;
}

.container-card {
  margin: 0px 0;
}

/* h2.projects-title {
  cursor: pointer;
} */

#contact {
}
