.contact-items p {
  margin: 0;
}

.project-items {
  margin: 30px 0;
}

.project-item {
  padding: 10px 0;
}

a {
  text-decoration: none;
}

.project-links {
  padding: 3px 0 6px;
  display: flex;
}

.project-links p {
  padding: 0 10px;
}

div.container-card {
  margin: 0px 0;
}

h2.projects-title {
  cursor: pointer;
}

.social-links img {
  width: 30px;
}
